[submodule "includes/libserv"]
	path = includes/libserv
	url = https://github.com/42-serv/libserv.git
[submodule "includes/smart_ptr"]
	path = includes/smart_ptr
	url = https://github.com/42seoul-jkong/smart_ptr.git
[submodule "includes/thread"]
	path = includes/thread
	url = https://github.com/42-serv/thread.git
